.main{background-color: cornflowerblue; height:auto; justify-content: center;}
audio{width: 80%; padding: 15px; margin-left: 34px;background-color: white ; color: red}
h2{color: white ; margin-left: 1000px;}
.tt{ justify-content: center; align-content: center; margin: auto; background-color: black; color: white; height: 153px; ;}
h1{ margin-left:399px}