.main{background-color: cornflowerblue; height:100%; width: 100%; justify-content: center;}
audio{width: 80%; padding: 15px; background-color: white ; color: red}
h2{color: white ; }
.tt{ width:100%;justify-content: center; align-content: center; margin: auto; background-color: black; color: white; height: 153px; ;}
h1{margin-left: 27px; }